
#nav1 {
    display: flex;
    margin-top: 30px;
    padding-left: 30px;

}
#sele {
    width: 20%;
}

#search {
    width: 40%;
}
.nav2 {
    width: 100%;
    height: 20%;
    border: 1px salmon;
    background-color: #dd0285;
    margin-top: 30px;


}
#container8 {
    width: 40%;
    height: 450px;
    border: 1px solid #dd0285;
    margin: auto;
    border-radius: 5px;
    margin-top: 3%;
  }
  #paymentform {
    width: 100%;
    height: 13%;
    border-bottom: 1px solid grey;
  }
  .payment {
    display: flex;
    justify-content: space-between;
  }
  
  .closebutton {
    height: 30px;
    width: 60%;
    margin-top: 3%;
   
  }
  
  .xbuttondiv{
    height: 30px;
    width: 10%;
    
    margin-top: 10px;
  }
  .h2tag {
    margin-left: 2%;
  }
  #carddetails {
    width: 100%;
    height: 70%;
    
  }
  .carddiv {
    height: 40%;
    width: 50%;
    
    background-color: lightgrey;
    margin-left: 7%;
  }
  .h4tag {
    margin-left: 7%;
  }
  #cardnumber {
    margin-bottom: 10px;
    margin-top: 20px;
    width: 60%;
    padding: 7px 12px;
    margin-left: 6%;
  }
  .monthcvv {
    display: flex;
  }
  #month {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 20%;
    padding: 7px 7px;
    margin-left: 6%;
  }
  #cvv {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 20%;
    padding: 7px 7px;
    margin-left: 6%;
  }
  .seq {
    width: 50%;
    height: 20%;
   
    display: flex;
    margin-top: 10px;
    margin-left: 7%;
  }
  .lock {
    width: 20%;
    height: 100%;
    
  }
  .ptag {
    width: 80%;
    height: 100%;
    line-height: 100%;
  }
  .checkbox {
    display: flex;
    margin-left: 7%;
  }
  .check {
    margin-top: 3.5%;
  }
  
  #placeorder {
    width: 40%;
    height: 35px;
    
    margin-left: 60%;
  }
  #order {
    background-color: #dd0285;
    border-radius: 10px;
    height: 35px;
    width: 80%;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
   
  
    cursor: pointer;
  }
  .lockimage {
    margin-left: 20%;
    margin-top: 30%;
  }
  .ptag,.h2tag,.h4tag{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .footer{
    margin-top: 50px;
    display: flex;
    background-color: #555;
    
}
.footer>div{
    margin: auto;
}
#lastline{
    display: flex;
    display: inline;
}
#mycart{
    background-color: #dd0285;
    font-size: medium;
    margin-left: 40px;
}